In [1]:
import numpy as np
import pandas as pd

In [2]:
def gbm(n_years = 1, n_scenarios=10, mu=0.07, sigma=0.15, steps_per_year=252*7*60, s_0=100.0, prices=True):
    """
    Evolution of Geometric Brownian Motion trajectories, such as for Stock Prices through Monte Carlo
    :param n_years:  The number of years to generate data for
    :param n_paths: The number of scenarios/trajectories
    :param mu: Annualized Drift, e.g. Market Return
    :param sigma: Annualized Volatility
    :param steps_per_year: granularity of the simulation
    :param s_0: initial value
    :return: a numpy array of n_paths columns and n_years*steps_per_year rows
    """
    # Derive per-step Model Parameters from User Specifications
    
    dt = 1/steps_per_year
    n_steps = int(n_years*steps_per_year) + 1
    # the standard way ...
    # rets_plus_1 = np.random.normal(loc=mu*dt+1, scale=sigma*np.sqrt(dt), size=(n_steps, n_scenarios))
    # without discretization error ...
    rets_plus_1 = np.random.normal(loc=(1+mu)**dt, scale=(sigma*np.sqrt(dt)), size=(n_steps, n_scenarios))
    rets_plus_1[0] = 1
    ret_val = s_0*pd.DataFrame(rets_plus_1).cumprod() if prices else rets_plus_1-1
    return ret_val

In [3]:
df=pd.DataFrame()
df=gbm()

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
1,99.973618,99.992559,100.007641,99.992146,99.984100,99.977384,99.969458,99.991288,100.063994,100.002796
2,100.050459,100.002426,100.064202,99.883297,100.043914,99.928615,99.906292,100.039849,100.082713,99.920817
3,100.040547,100.000703,100.046831,99.953250,100.091007,99.917841,99.911422,99.981823,100.079946,99.928017
4,100.061746,99.945301,100.045701,99.881530,100.114138,99.904243,99.924171,99.981238,100.086262,99.958902

In [6]:
for i in df.rows:
    if i.index%15==0:
        df.drop(i.index,inplace=True)
df

AttributeError: 'DataFrame' object has no attribute 'rows'